{% if include.url2 %}
<div class="row">   
    <figure class="figure col l5">
        <a href="{{ include.url }}" class="lightbox-image current" title="{{ include.description }}"><img src="/img/empty.gif" data-echo="{{ include.url }}" alt="" class="responsive-img"></a>
        <figcaption>{{ include.description }}</figcaption>
    </figure>
    <figure class="figure col l5">
            <a href="{{ include.url2 }}" class="lightbox-image current" title="{{ include.description2 }}"><img src="/img/empty.gif" data-echo="{{ include.url2 }}" alt="" class="responsive-img"></a>
        <figcaption>{{ include.description2 }}</figcaption>
    </figure>
</div>
{% else %}
<div class="row">   
    <figure class="figure col l5">
            <a href="{{ include.url }}" class="lightbox-image current" title="{{ include.description }}"><img src="/img/empty.gif" data-echo="{{ include.url }}" alt="" class="responsive-img"></a>
        <figcaption>{{ include.description }}</figcaption>
    </figure>
</div>
{% endif %}