{% if include.url2 %}
<div class="row">
    <div class="col l6">
        <figure class="figure">
            <a data-fancybox="gallery" href="../{{ include.url }}"><img src="/img/empty.gif" data-echo="/thumb/{{ include.url }}" alt="" class="responsive-img"></a>
            <figcaption>{{ include.description | markdownify }}</figcaption>
        </figure>
    </div>
    <div class="col l6">
        <figure class="figure">
            <a data-fancybox="gallery" href="../{{ include.url2 }}"><img src="/img/empty.gif" data-echo="/thumb/{{ include.url2 }}" alt="" class="responsive-img"></a>
            <figcaption>{{ include.description2 | markdownify }}</figcaption>
        </figure>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col l6">
        <figure class="figure">
            <a data-fancybox="gallery" href="../{{ include.url }}"><img src="/img/empty.gif" data-echo="/thumb/{{ include.url }}" alt="" class="responsive-img"></a>
            <figcaption>{{ include.description | markdownify }}</figcaption>
        </figure>
    </div>
</div>
{% endif %}